@model MyWebApp.Models.Book
@{
}

<form asp-action="Create" method="post">
	<div class="form-group">
		<label>Title</label>
		<input type="text" class="form-control" asp-for="Title"/>
		<label>Price</label>
		<input type="number" class="form-control" asp-for="Price"/>
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>
